body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 300px;
    background-color: white;

    box-shadow: 10px 10px 10px #0000003d;

    padding: 20px;
    border-radius: 40px;
    margin: 40px auto; 
}

#acao_div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
}

form > div > input {
    width: 229px;
    font-size: 16px;
    border-radius: 5px;
    margin: 15px 0;
}

fieldset {
    width: 200px;
    margin: 10px 0 10px 0;
}

legend {
    font-size: 15px;
}

form > fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form > fieldset > input {
    font-size: 16px;
    
    border-radius: 5px;
    margin: 10px 0 10px 0;
} 

input#data_inicio, input#data_final {
    width: 98.3%;
} 

fieldset#moeda {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

fieldset#moeda > div {
    display: flex;
}

fieldset#moeda > div > input, fieldset#moeda > div > p {
    margin: 5px;
}

fieldset > div > label {
    font-size: 16px;
}

form > input {
    font-size: 20px;
    border-radius: 5px;
}

#erro_mensagem {
    background-color: #F07167;
    
    white-space: pre-line;
    padding: 20px 0;
    margin: 50px 0;
}

#erro_mensagem > p {
    color: white;
    font-size: 25px;

    text-align: center;
}

#acoes {
    margin: 0 auto;
    max-width: 800px;
}

#div_cabecalho {
    background-color: white;
    display: flex;

    padding: 20px 0;
    border-radius: 20px;
    margin: 40px 0;
    box-shadow: 10px 10px 10px #0000003d;
}

#imagem {
    padding: 20px;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.153);

    margin-left: 20px;
}

#imagem > img {
    width: 75px;
}

div#acao_nomes {
    margin-left: 20px;
}

div#acao_nomes > p#acao_titulo {
    font-size: 25px;

    margin: 20px 0 0 0;
}

div#acao_nomes > p#acao_sigla {
    margin: 5px 0 0 0;
}

#grafico {
    max-width: 800px;
    background-color: #ffffff;

    padding: 10px;
    margin: 35px auto;
    border-radius: 20px;

    box-shadow: 10px 10px 10px #0000003d;
}

div#tabela {
    background-color: white;
    width: 100%;
    display: flex;

    box-shadow: 10px 10px 10px #0000003d;
    border-radius: 10px;
    margin: 30px 0;
}

div#tabela > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 33.3%;

    padding: 0 20px 0 5px;
}

div#tabela > div > p.titulo-tabela {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;

    padding: 5px;
    margin: 0;
}

div#tabela > div > p.texto-tabela {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    
    padding: 5px;
    margin: 0;
}

footer{
    margin-top: auto;
}